<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name="Application" android:description="@string/app_description">
		<activity android:label="@string/app_name" android:name=".SelectActivity" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ReleaseNotesActivity"></activity>
		<activity android:name=".SettingsActivity" android:label="@string/settings_title"></activity>
		<activity android:name=".ResultActivity" android:label="@string/result_title"></activity>
		<activity android:name=".ShowGroupActivity"></activity>
		<activity android:name=".LoadSaveActivity"></activity>
		<activity android:name=".LimitActivity" android:label="@string/limit_title"></activity>
	</application>
	<!--<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>-->
	<supports-screens android:largeScreens="false" android:resizeable="true" android:anyDensity="true" android:smallScreens="true" android:normalScreens="true"></supports-screens>
    <uses-feature android:required="false" android:name="android.hardware.touchscreen"></uses-feature>
	<queries>
		<package android:name="com.ridgelineapps.testandrominion" />
		<package android:name="com.mehtank.androminion" />
	</queries>
</manifest> 
